.input-container {
    position: relative;
    display: inline-block;
}

.rotatingBorder {
    padding: 10px;
    border: 6px solid transparent; /* Устанавливаем границу, но делаем её прозрачной */
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    position: relative;
    z-index: 1; /* Устанавливаем элемент поверх */
    background-clip: padding-box; /* Отсекаем фон под padding */
}

.input-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    background: linear-gradient(90deg, #06beb6, #ed7bdc, #e1f40c);
    background-size: 200% 200%;
    z-index: -1; /* Отображаем псевдоэлемент под input */
    animation: rotate-gradient 4s linear infinite;
}

@keyframes rotate-gradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 200% 50%;
    }
}
